.* {
    overflow: auto;    
    
}

#site-container {
    height: 100%;
    width: 100%;
    position: absolute;
}

#base-nav {
    left: 0px;
    height: 100%;
    width: 38%;
    background-color: grey;
    position: absolute;
    font-color: white;
    padding: 25px;
}

#choose-app {
    position: absolute;
    top: 25%;
    color: white;
    font-family: monotype;
    font-size: 30px;
}

#choose-protocol {
    position: absolute;
    top: 50%;
    color: white;
    font-family: monotype;
    font-size: 30px;

}

#map {
    height: 100%;
    width: 62%;
    position: absolute;
    right: 0px;
}

.row {
    padding: 15px;
    
}

.clickable {
    cursor: pointer;
}


#details {
    left: 95px;
    bottom: 80px;
    height: 80%;
    width: 80%;
    position: absolute;
    border-style: solid;
    border-width: 5px;    
    z-index: 999;
    background: rgba(255, 255, 255, .7);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;   
}

#details-close {
    position: absolute;
    left: 25px;
    top: 15px;
}

#details-next {
    position: absolute;
    bottom: 15px;
    right: 30px;
}

#details-back {
    position: absolute;
    bottom: 15px;
    left: 30px;
}

#option {
    height: 90%;
    width: 90%;   
    position: relative:
    display: flex;
    justify-content: center;
    align-items: center;
}

#prompt {    
    font-family: Monospace;
    font-size: 14px;
    width: 80%;    
    position: absolute;
    left: 70px;
    top: 50px;
}

#offer-form {
    position: absolute;
    justify-content: center;
    left: 70px;
    top: 190px;
    
}

#offer-preview {
    position: absolute;
    justify-content: center;
    padding: 10px;
    background-color: rgba(150, 150, 175, .6);
    left: 70px;
    bottom: 100px;
    align-items: center;
    border-width: 5px;
    border-radius: 15px;
    border-color: white;
}

#conversions {
    position: abolute;
    padding: 2px;
}

#per-unit {
    left: 400px;
    top: 30px;
    position: absolute;
    padding: 25px;
    height: 200px;
    width: 200px;
}

#side-bar{
    height: 100%; 
    width: 38%;
    position: absolute;
    left: 0px;
    border-style: solid;
    border-width: 3px;
    
}

#side-bottom {
    height: 62%;
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: 0px;
    border-style: solid;
    border-width: 3px;

}

#side-top {
    height: 38%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: monospace;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-active {
  opacity: 0
}

#news {

}

strong {
    color: teal;
}

#protocol {
    height: 100%;
    width: 60%;
    position: absolute;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    top: 0px;
    left: 0px;
    font-weight: 34px;
    font-size: 18px;
    color: teal;
}

#explanation {
    position: relative;
    text-align: center;
    top: 40%;
    
}

#top-right {
    height: 100%;
    width: 40%;
    position: absolute;
    top: 0px;
    right: 0px;
    
}


#account {
    height: 66%;
    width: 100%;
    top: 0px;
    right: 0px;
    position: absolute;
    border-style: solid;
    border-width: 3px;
    

}

#login {

}

#profile {
}

#wallet {
   
}

#find {
    height: 34%;
    width: 50%;
    right: 0px;
    bottom: 0px;
    position: absolute;
    border-style: solid;
    border-width: 3px;
    padding-left: 3px;
    padding-right: 3px;
}


#find-image {
    left: 27%;
    top: 20%;
    position: absolute;

}

#offer-image {
    left: 27%;
    top: 22%;
    position: absolute;

}

#offer {
    height: 34%;
    width: 50%;
    left: 0px;
    bottom: 0px;
    position: absolute;
    border-style: solid;
    border-width: 3px;
    padding-left: 3px;
    padding-right: 3px;

}

ul {
    list-style-type: none;
}

li {
    list-style-type: none;
}

h4 {
    font-size: 12px;
    font-family: monospace;
}

#location-inputs {
    

}

#add-locations {
    position: absolute;
    left: 250px;
    top: 15px;
}

#distances {
    position: absolute;
    left: 350px;
    top: 15px;
}
